@import "variables";
@import "mixins";


/* Don't edit these three items */
html {
  position: relative;
  min-height: 100%;
}

header {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  background-color: $blackish;
}
/*You can edit below this line*/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#content {
  background: transparent url("../images/gray_jean.png") repeat;
}

.social {
  padding-top:4px;
  padding-right:30px;
}

.list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: transparent url("../images/back-to-top.png") no-repeat center 43%;
}

article:last-child {
  padding-bottom: 20px;
}

ul.centered {
  margin:0 auto;
  max-width: 400px;
  li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
  }
}

.centered {
  margin:0 auto;
  width: 100%;
  text-align: center;
}

li.am-active {
  background-color: #0c79a6;
  a {
    color: #FFF;
  }
}

.am-article-subtitle {
  padding-left: 6px;
  border-left: 3px solid #1FA2D6;
  font-size: 16px;
  line-height: 16px;
}

.colorbox {
  padding: 4px;
  height: 182px;
  width: auto;
}

.camel {
  background-color: $camel;
  @extend .colorbox;
}

.sand {
  background-color: $sand;
  @extend .colorbox;
}

.cream {
  background-color: $cream;
  @extend .colorbox;
}

.slategreen {
  background-color: $slategreen;
  @extend .colorbox;
  p, span, {
    color: #fff;
  }
}

.palegreen {
  background-color: $palegreen;
  @extend .colorbox;
}

.smoke {
  background-color: $smoke;
  @extend .colorbox;
  p, span {
    color: #fff;
  }
}

.selected {
  background-color: $active;
  @extend .colorbox;
}

.blackish {
  background-color: $blackish;
  @extend .colorbox;
  p, span {
    color: #fff;
  }
}

.simba {
  background-color: $simba;
  @extend .colorbox;
}

.nightblue {
  background-color: $nightblue;
  @extend .colorbox;
  p, span {
    color: #fff;
  }
}

.black {
  background-color: $black;
  @extend .colorbox;
  p, span {
    color: #fff;
  }
}

.dkocean {
  background-color: $dkocean;
  @extend .colorbox;
  p, span {
    color: #fff;
  }
}

.seateal {
  background-color: $seateal;
  @extend .colorbox;
  p, span {
    color: #fff;
  }
}

.moonblue {
  background-color: $moonblue;
  @extend .colorbox;
}

.linkblue {
  background-color: $linkblue;
  @extend .colorbox;
  p, span {
    color: #fff;
  }
}

.bluemist {
  background-color: $bluemist;
  @extend .colorbox;
}


/* Media Queries
 ========================================================================== */

/* Large screen and bigger */
@media (min-width: 1220px) {
  .am-section,
  .am-footer { padding: 20px 0; }
}

/* Desktop and bigger */
@media (max-width: 959px) {


}

/* Tablet and bigger */
@media (min-width: 768px) {
  .am-sidebar {
    margin-right: -1px !important;
    border-right: 1px solid #E5E5E5;
  }
  .am-sidebar .uk-panel {
    padding-right: 20px;
  }
  .am-section,
  .am-footer { padding: 5px 0; }
}


.parent {
  color:red;
  .child {
    margin-left:12px;
    color:blue;
    &:last-child {
      text-decoration:underline;
    }
    .grand-child  {
      margin-left:12px;
      color:green;
      &.sibling {
        color:purple;
      }
    }
  }
}

