@import "../variables";
@import "../mixins";

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.am-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

.am-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .am-main-content following the .am-fixed-nav when it becomes fixed */
}

@media only screen and (min-width: 970px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 70px;
  }
}

@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 70px;
  }
}

@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 70px;
  }
}

/* --------------------------------

Header and Navigation

-------------------------------- */
.am-section {
  margin: 0 auto;
  padding: 2em 0;
}

#cd-linkedin {
  float: left;

  z-index: 1;
  margin-top: 20px;
}

#cd-res {
  float: right;

  z-index: 2;
  margin-top: 20px;
}

.am-btn1, .am-btn2 {
  opacity: .7;
  border: 1px solid #4da9c7;
  background: -moz-linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #74adb2), color-stop(44%, #328ba8), color-stop(100%, #74adb2));
  background: -webkit-linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
  background: -o-linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74adb2', endColorstr='#328ba8', GradientType=0);
  background: linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
  border-radius: .5em;
  padding: 4px 6px;
  color: #ffffff;

}

.am-btn1:hover, .am-btn2:hover {
  opacity: 1;
  border: 1px solid #4da9c7;
  background: -moz-linear-gradient(top, #428fdf 0, #328ba8 44%, #428fdf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #428fdf), color-stop(44%, #328ba8), color-stop(100%, #428fdf));
  background: -webkit-linear-gradient(top, #428fdf 0, #328ba8 44%, #428fdf 100%);
  background: -o-linear-gradient(top, #428fdf 0, #328ba8 44%, #428fdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428fdf', endColorstr='#328ba8', GradientType=0);
  background: linear-gradient(top, #428fdf 0, #328ba8 44%, #428fdf 100%);
  border-radius: .5em;
  padding: 4px 6px;
  color: #ffffff;

}

@media only screen and (min-width: 961px) {
  .am-btn1.is-hidden.slide-in {
    filter: alpha(opacity=70);
    border: 1px solid #4da9c7;
    background: -moz-linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #74adb2), color-stop(44%, #328ba8), color-stop(100%, #74adb2));
    background: -webkit-linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
    background: -o-linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74adb2', endColorstr='#328ba8', GradientType=0);
    background: linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
    border-radius: .5em;
    padding: 4px 6px;
    color: #ffffff;
    right: 6%;
    opacity: 1;
  }
  .am-btn2.is-hidden.slide-in {
    filter: alpha(opacity=70);
    border: 1px solid #4da9c7;
    background: -moz-linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #74adb2), color-stop(44%, #328ba8), color-stop(100%, #74adb2));
    background: -webkit-linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
    background: -o-linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74adb2', endColorstr='#328ba8', GradientType=0);
    background: linear-gradient(top, #74adb2 0, #328ba8 44%, #74adb2 100%);
    border-radius: .5em;
    padding: 4px 6px;
    color: #ffffff;
    right: 11%;
    opacity: 1;
  }
}

@media only screen and (min-width: 961px) {
  .am-btn1.is-hidden {
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: .3em .8em;
    margin: 14px 0 0;
    -webkit-transition: right .3s, opacity .3s;
    -moz-transition: right .3s, opacity .3s;
    transition: right .3s, opacity .3s;
  }
  .am-btn2.is-hidden {
    opacity: 0;
    position: fixed;
    right: -40%;
    top: 0;
    padding: .3em .8em;
    margin: 14px 0 0;
    -webkit-transition: right .3s, opacity .3s;
    -moz-transition: right .3s, opacity .3s;
    transition: right .3s, opacity .3s;
  }
}

table.rufus {
  width: 100%;
  margin: 0 auto;
  border: none;
  tr {

  }
  td {

  }
}

div.white * {
  color: $cream;
  opacity: .8;

}

.title {
  float: right;
  text-align: right;
  .iconset * {
    text-align: center;
  }
}

.responsive {
  width: 110px;
  float: left;
  padding-left: 10px;
}

.modular {
  width: 110px;
  float: right;
  padding-right: 10px;
}

#am-logo, .am-btn {
  display: inline-block;
  padding: 2px;
  margin: 0 0 0 5%;
  width: 223px !important;
  height: 46px !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#am-logo img, .am-btn img {
  display: block;
  min-width: 223px !important;
  min-height: 46px !important;
}

.am-anchors-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.am-anchors-nav ul.is-visible {
  margin-top: 70px;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}

.am-anchors-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #000101;
  border-top: 1px solid #051426;
  color: #f0eee1;
}

#am-header, #am-fixed {
  position: relative;
  width: 100%;
  padding-top: 0;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
}

div.header {
  background-color: $blackish;
  opacity: .8;
  height: 60px;
  border-bottom: 1px solid $cream;
  padding: 0;
  margin: 0 auto;
}

.no-touch .am-btn:hover {
  background-color: #f5484a;
}

section#overlay {
  position: absolute;
  top: 100px;
  width: 100%;
}

.am-fixed-nav {
  position: relative;
  z-index: 3;
  height: 54px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 310px;
  background-color: $nightblue;
  border-top: 1px solid $camel;
}

.am-fixed-nav ul {
  /* mobile first - fixed navigation hidden by default, triggered by tap/click on .am-fixed-nav-trigger*/
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;

  visibility: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}

.am-fixed-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}

.am-fixed-nav li a {
  display: block;
  padding: 1.5em;

  color: $camel;
}

.am-fixed-nav li:last-child a {
  border-bottom: none;
}

/* --------------------------------

MQ's

-------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .am-anchors-nav {
    position: fixed;
    top: 95px;
    right: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .am-anchors-nav {
    /* reset navigation values */
    /* width: auto;
     height: auto;
     background: none;*/
  }

  .am-anchors-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }

  .am-anchors-nav ul.is-visible {
    margin-top: 80px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .am-anchors-nav li {
    display: inline-block;
    margin-left: 1em;
  }

  .am-anchors-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #030d18;
  }
}

@media only screen and (max-width: 960px) {
  #am-header, #am-fixed {
    position: fixed;
  }
}

@media only screen and (min-width: 970px) {
  .am-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: 0;
    margin: 14px 0 0;
    -webkit-transition: right 0.3s, opacity 0.3s;
    -moz-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }

  .am-btn.is-hidden.slide-in {
    /* slide in when the fixed nav gets fixed */
    right: 5%;
    opacity: 1;
    margin: 0;
  }
}

@media only screen and (min-width: 970px) {
  .am-fixed-nav {
    z-index: 1;
    top: 310px;
  }

  .am-fixed-nav nav, .am-fixed-nav ul, .am-fixed-nav li, .am-fixed-nav a {

  }

  .am-fixed-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }

  .am-fixed-nav li {
    display: inline-block;
    margin-left: -4px;
  }

  .am-fixed-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 2px 40px 5px 40px;
    font-size: 12px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
    font-family: Candara, Candara, Verdana, sans-serif;
    text-transform: uppercase;
    span {
      margin-top: 5px;
    }
  }

  .am-fixed-nav li a b {
    text-transform: uppercase;
    font-size: 12px;
    font-size: 0.8125rem;
    font-weight: 700;
    color: rgba(240, 238, 225, 0.3);
  }

  .am-fixed-nav li a:hover b, .am-fixed-nav li a.active b {
    color: #ffffff;
  }

  .am-fixed-nav li:nth-child(1) a span {
    background-position: 0 0;
  }

  .am-fixed-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }

  .am-fixed-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }

  .am-fixed-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }

  .am-fixed-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }

  .am-fixed-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 56px;
    width: 100%;
  }

  .am-fixed-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .am-fixed-nav.animate-children li a {
    padding: 2px 28px 3px 28px;
  }

  .am-fixed-nav.animate-children li a span {
    opacity: 0;
  }
}

@media only screen and (min-width: 970px) {
  .am-section {
    margin: 0 auto;
    padding: 4em 0;
  }
}

@media only screen and (max-width: 768px) {
  header {
    box-shadow: none;
    height: 200px;
  }
}

@media only screen and (min-width: 970px) {
  .am-fixed-nav-trigger {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #am-logo, .am-btn {
    margin: 0 0 0 5%;
  }
}

@media only screen and (min-width: 970px) {
  #am-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    top: 0;
    padding: 0;
    margin: 14px 0 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }

  #am-logo.is-hidden.slide-in {
    /* slide in when the navigation gets fixed */
    left: 5%;
    opacity: 1;
    margin: 0;
  }
}












