@import "../mixins.scss";
@import "../variables.scss";

// Name:            Slideshow
// Description:     Defines styles for a slideshow
//
// Component:       `uk-slideshow`
//
// Modifier:        `uk-slideshow-fullscreen`
//
// Sub-modifier:    `uk-slideshow-fade-out`
//                  `uk-slideshow-scroll-forward-in`
//                  `uk-slideshow-scroll-forward-out`
//                  `uk-slideshow-scroll-backward-in`
//                  `uk-slideshow-scroll-backward-out`
//                  `uk-slideshow-scale-out`
//                  `uk-slideshow-swipe-forward-in`
//                  `uk-slideshow-swipe-forward-out`
//                  `uk-slideshow-swipe-backward-in`
//                  `uk-slideshow-swipe-backward-out`
//
// States:          `uk-active`
//
// Uses:            Cover (JS)
//
// Markup:
//
// <!-- uk-slideshow -->
// <ul class="uk-slideshow" data-uk-slideshow>
//     <li><img src="" width="" height="" alt=""></li>
// </ul>
//
// ========================================================================


/* ========================================================================
   Component: Slideshow
 ========================================================================== */

/*
 * 1. Create position context
 * 2. Create stacking context to prevent z-index issues with other components
 * 3. Set width because child elements are positioned absolute. Height is set via JS
 * 4. Reset list style
 * 5. Clip child elements
 * 6. Deactivate browser history navigation in IE11
 */

.uk-slideshow {
    /* 1 */
    position: relative;
    /* 2 */
    z-index: 0;
    /* 3 */
    width: 100%;
    /* 4 */
    margin: 0;
    padding: 0;
    list-style: none;
    /* 5 */
    overflow: hidden;
    /* 6 */
    touch-action: pan-y;
}

/*
 * Sub-object item
 * 1. Position items above each other
 * 2. Expand to parent container width
 * 3. Hide by default
 */

.uk-slideshow > li {
    /* 1 */
    position: absolute;
    top: 0;
    left: 0;
    /* 2 */
    width: 100%;
    /* 3 */
    opacity: 0;
}

/*
 * Active
 * 1. Stack at first
 * 2. Show slide
 */

.uk-slideshow > .uk-active {
    /* 1 */
    z-index: 10;
    /* 2 */
    opacity: 1;
}

/*
 * Hide default images which is only relevant to keep existing proportions
 */

.uk-slideshow > li > img { visibility: hidden; }

/*
 * Pointer for controls
 */

[data-uk-slideshow-slide] { cursor: pointer; }


/* Modifier: `uk-slideshow-fullscreen`
 ========================================================================== */

.uk-slideshow-fullscreen,
.uk-slideshow-fullscreen > li { height: 100vh; }


/* Animations
 ========================================================================== */

/*
 * Fade
 */

 .uk-slideshow-fade-in {
     -webkit-animation: uk-fade 0.5s linear;
     animation: uk-fade 0.5s linear;
 }

.uk-slideshow-fade-out {
    -webkit-animation: uk-fade 0.5s linear reverse;
    animation: uk-fade 0.5s linear reverse;
}

/*
 * Scroll
 */

.uk-slideshow-scroll-forward-in {
    -webkit-animation: uk-slide-right 0.5s ease-in-out;
    animation: uk-slide-right 0.5s ease-in-out;
}

.uk-slideshow-scroll-forward-out {
    -webkit-animation: uk-slide-left 0.5s ease-in-out reverse;
    animation: uk-slide-left 0.5s ease-in-out reverse;
}

.uk-slideshow-scroll-backward-in {
    -webkit-animation: uk-slide-left 0.5s ease-in-out;
    animation: uk-slide-left 0.5s ease-in-out;
}

.uk-slideshow-scroll-backward-out {
    -webkit-animation: uk-slide-right 0.5s ease-in-out reverse;
    animation: uk-slide-right 0.5s ease-in-out reverse;
}

/*
 * Scale
 */

.uk-slideshow-scale-out {
    -webkit-animation: uk-fade-scale-15 0.5s ease-in-out reverse;
    animation: uk-fade-scale-15 0.5s ease-in-out reverse;
}

/*
 * Swipe
 */

.uk-slideshow-swipe-forward-in {
    -webkit-animation: uk-slide-left-33 0.5s ease-in-out;
    animation: uk-slide-left-33 0.5s ease-in-out;
}

.uk-slideshow-swipe-forward-out {
    -webkit-animation: uk-slide-left 0.5s ease-in-out reverse;
    animation: uk-slide-left 0.5s ease-in-out reverse;
}

.uk-slideshow-swipe-backward-in {
    -webkit-animation: uk-slide-right-33 0.5s ease-in-out;
    animation: uk-slide-right-33 0.5s ease-in-out;
}

.uk-slideshow-swipe-backward-out {
    -webkit-animation: uk-slide-right 0.5s ease-in-out reverse;
    animation: uk-slide-right 0.5s ease-in-out reverse;
}

.uk-slideshow-swipe-forward-in:before,
.uk-slideshow-swipe-backward-in:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    -webkit-animation: uk-fade 0.5s ease-in-out reverse;
    animation: uk-fade 0.5s ease-in-out reverse;
}
.uk-slideshow {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  touch-action: pan-y
}

.uk-slideshow>li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0
}

.uk-slideshow>.uk-active {
  z-index: 10;
  opacity: 1
}

.uk-slideshow>li>img {
  visibility: hidden
}

[data-uk-slideshow-slide] {
  cursor: pointer
}

.uk-slideshow-fullscreen, .uk-slideshow-fullscreen>li {
  height: 100vh
}

.uk-slideshow-fade-in {
  -webkit-animation: uk-fade .5s linear;
  animation: uk-fade .5s linear
}

.uk-slideshow-fade-out {
  -webkit-animation: uk-fade .5s linear reverse;
  animation: uk-fade .5s linear reverse
}

.uk-slideshow-scroll-forward-in {
  -webkit-animation: uk-slide-right .5s ease-in-out;
  animation: uk-slide-right .5s ease-in-out
}

.uk-slideshow-scroll-forward-out {
  -webkit-animation: uk-slide-left .5s ease-in-out reverse;
  animation: uk-slide-left .5s ease-in-out reverse
}

.uk-slideshow-scroll-backward-in {
  -webkit-animation: uk-slide-left .5s ease-in-out;
  animation: uk-slide-left .5s ease-in-out
}

.uk-slideshow-scroll-backward-out {
  -webkit-animation: uk-slide-right .5s ease-in-out reverse;
  animation: uk-slide-right .5s ease-in-out reverse
}

.uk-slideshow-scale-out {
  -webkit-animation: uk-fade-scale-15 .5s ease-in-out reverse;
  animation: uk-fade-scale-15 .5s ease-in-out reverse
}

.uk-slideshow-swipe-forward-in {
  -webkit-animation: uk-slide-left-33 .5s ease-in-out;
  animation: uk-slide-left-33 .5s ease-in-out
}

.uk-slideshow-swipe-forward-out {
  -webkit-animation: uk-slide-left .5s ease-in-out reverse;
  animation: uk-slide-left .5s ease-in-out reverse
}

.uk-slideshow-swipe-backward-in {
  -webkit-animation: uk-slide-right-33 .5s ease-in-out;
  animation: uk-slide-right-33 .5s ease-in-out
}

.uk-slideshow-swipe-backward-out {
  -webkit-animation: uk-slide-right .5s ease-in-out reverse;
  animation: uk-slide-right .5s ease-in-out reverse
}

.uk-slideshow-swipe-backward-in:before, .uk-slideshow-swipe-forward-in:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .6);
  -webkit-animation: uk-fade .5s ease-in-out reverse;
  animation: uk-fade .5s ease-in-out reverse
}
.uk-dotnav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
  padding: 0;
  list-style: none
}

.uk-dotnav>* {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  padding-left: 15px;
  margin-top: 15px
}

.uk-dotnav:after, .uk-dotnav:before {
  content: "";
  display: block;
  overflow: hidden
}

.uk-dotnav:after {
  clear: both
}

.uk-dotnav>* {
  float: left
}

.uk-dotnav>*>* {
  display: block;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(50, 50, 50, .1);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.uk-dotnav>*>:focus, .uk-dotnav>*>:hover {
  background: rgba(50, 50, 50, .4);
  outline: 0
}

.uk-dotnav>*>:active {
  background: rgba(50, 50, 50, .6)
}

.uk-dotnav>.uk-active>* {
  background: rgba(50, 50, 50, .4);
  -webkit-transform: scale(1.3);
  transform: scale(1.3)
}

.uk-dotnav-contrast>*>* {
  background: rgba(255, 255, 255, .4)
}

.uk-dotnav-contrast>*>:focus, .uk-dotnav-contrast>*>:hover {
  background: rgba(255, 255, 255, .7)
}

.uk-dotnav-contrast>*>:active {
  background: rgba(255, 255, 255, .9)
}

.uk-dotnav-contrast>.uk-active>* {
  background: rgba(255, 255, 255, .9)
}

.uk-dotnav-vertical {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column
}

.uk-dotnav-vertical>* {
  float: none
}

.uk-slidenav {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: rgba(50, 50, 50, .4);
  font-size: 60px;
  text-align: center
}

.uk-slidenav:focus, .uk-slidenav:hover {
  outline: 0;
  text-decoration: none;
  color: rgba(50, 50, 50, .7);
  cursor: pointer
}

.uk-slidenav:active {
  color: rgba(50, 50, 50, .9)
}

.uk-slidenav-previous:before {
  content: "\f104";
  font-family: FontAwesome
}

.uk-slidenav-next:before {
  content: "\f105";
  font-family: FontAwesome
}

.uk-slidenav-position {
  position: relative
}

.uk-slidenav-position .uk-slidenav {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -30px
}

.uk-slidenav-position:hover .uk-slidenav {
  display: block
}

.uk-slidenav-position .uk-slidenav-previous {
  left: 20px
}

.uk-slidenav-position .uk-slidenav-next {
  right: 20px
}

.uk-slidenav-contrast {
  color: rgba(255, 255, 255, .5)
}

.uk-slidenav-contrast:focus, .uk-slidenav-contrast:hover {
  color: rgba(255, 255, 255, .7)
}

.uk-slidenav-contrast:active {
  color: rgba(255, 255, 255, .9)
}

// Hooks
// ========================================================================

@include hook-slideshow-misc();

// @mixin hook-slideshow-misc(){}
