/* Don't edit these three items */
html {
  position: relative;
  min-height: 100%; }

header {
  width: 100%;
  height: auto; }

footer {
  width: 100%;
  background-color: #1b2c32; }

/*You can edit below this line*/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#content {
  background: transparent url("../images/gray_jean.png") repeat; }

.social {
  padding-top: 4px;
  padding-right: 30px; }

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px; }

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: transparent url("../images/back-to-top.png") no-repeat center 43%; }

article:last-child {
  padding-bottom: 20px; }

ul.centered {
  margin: 0 auto;
  max-width: 400px; }
  ul.centered li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px; }

.centered {
  margin: 0 auto;
  width: 100%;
  text-align: center; }

li.am-active {
  background-color: #0c79a6; }
  li.am-active a {
    color: #FFF; }

.am-article-subtitle {
  padding-left: 6px;
  border-left: 3px solid #1FA2D6;
  font-size: 16px;
  line-height: 16px; }

.colorbox, .camel, .sand, .cream, .slategreen, .palegreen, .smoke, .selected, .blackish, .simba, .nightblue, .black, .dkocean, .seateal, .moonblue, .linkblue, .bluemist {
  padding: 4px;
  height: 182px;
  width: auto; }

.camel {
  background-color: #D4CDB9; }

.sand {
  background-color: #f8f7f0; }

.cream {
  background-color: #f0eee1; }

.slategreen {
  background-color: #36574c; }
  .slategreen p, .slategreen span {
    color: #fff; }

.palegreen {
  background-color: #d9e9e9; }

.smoke {
  background-color: #7e9b9d; }
  .smoke p, .smoke span {
    color: #fff; }

.selected {
  background-color: #c6eef1; }

.blackish {
  background-color: #1b2c32; }
  .blackish p, .blackish span {
    color: #fff; }

.simba {
  background-color: #d2cda2; }

.nightblue {
  background-color: #0b1121; }
  .nightblue p, .nightblue span {
    color: #fff; }

.black {
  background-color: #020815; }
  .black p, .black span {
    color: #fff; }

.dkocean {
  background-color: #154d77; }
  .dkocean p, .dkocean span {
    color: #fff; }

.seateal {
  background-color: #036e89; }
  .seateal p, .seateal span {
    color: #fff; }

.moonblue {
  background-color: #cbdbe0; }

.linkblue {
  background-color: #11a4c4; }
  .linkblue p, .linkblue span {
    color: #fff; }

.bluemist {
  background-color: #eff7fc; }

/* Media Queries
 ========================================================================== */
/* Large screen and bigger */
@media (min-width: 1220px) {
  .am-section,
  .am-footer {
    padding: 20px 0; } }
/* Desktop and bigger */
/* Tablet and bigger */
@media (min-width: 768px) {
  .am-sidebar {
    margin-right: -1px !important;
    border-right: 1px solid #E5E5E5; }

  .am-sidebar .uk-panel {
    padding-right: 20px; }

  .am-section,
  .am-footer {
    padding: 5px 0; } }
.parent {
  color: red; }
  .parent .child {
    margin-left: 12px;
    color: blue; }
    .parent .child:last-child {
      text-decoration: underline; }
    .parent .child .grand-child {
      margin-left: 12px;
      color: green; }
      .parent .child .grand-child.sibling {
        color: purple; }

/*# sourceMappingURL=custom.css.map */
