/* form elements */

input, .email {
    font-family: candara;
    font-size: 11px;
}

input, .textArea {
    font-family: candara;
    font-size: 11px;
    width: 250px;
    height: 46;
    background-color: #ffffff;
}

input, .PHONEformField {
    font-family: candara;
    font-size: 11px;
    height: 14px;
    width: 110px;
    background-color: #ffffff;
}

input, .MEDformField {
    font-family: candara;
    font-size: 11px;
    height: 14px;
    width: 140px;
    background-color: #ffffff;
}

input, .LONGformField {
    font-family: candara;
    font-size: 11px;
    height: 14px;
    width: 200px;
    background-color: #ffffff;
}

input, .SHORTformField {
    font-family: candara;
    font-size: 11px;
    height: 14px;
    width: 70px;
    background-color: #ffffff;
}

input, .TINYformField {
    font-family: candara;
    font-size: 11px;
    height: 14px;
    width: 31px;
    background-color: #ffffff;
}

/* select form elements for firefox */
input, .selField0 {
    font-family: candara;
    font-size: 11px;
    height: 18px;
    width: 58px;
    background-color: #f5f8e7;
}

input, .selField1 {
    font-family: candara;
    font-size: 11px;
    height: 18px;
    width: 160px;
    background-color: #f5f8e7;
}

input, .selField2 {
    font-family: candara;
    font-size: 11px;
    height: 18px;
    width: 140px;
    background-color: #ffffff;
}

input, .radio {
    font-family: candara;
    font-size: 11px;
    height: 12px;
    width: 12px;
}

input, .radioX {
    font-family: candara;
    font-size: 11px;
    height: 12px;
    width: 12px;
    background-color: #deebcb;
}

.xsbtn {
    border-color: #182919;
    background-color: #D4C986;
    color: #182919;
    font-family: candara;
    font-size: 11px;
    letter-spacing: 0px;
    width: 22px;
    height: 20px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}

.sbtn {
    border-color: #182919;
    background-color: #D4C986;
    color: #182919;
    font-family: candara;
    font-size: 11px;
    letter-spacing: 0px;
    width: 52px;
    height: 20px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}

.mbtn {
    border-color: #182919;
    background-color: #D4C986;
    color: #182919;
    font-family: candara;
    font-size: 11px;
    letter-spacing: 0px;
    width: 96px;
    height: 20px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}

.mbtn:hover {
    border-color: #000000;
    background-color: #f0fbe3;
    color: #182919;
    font-family: candara;
    font-size: 11px;
    letter-spacing: 0px;
    width: 96px;
    height: 20px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}

.lbtn {
    border-color: #182919;
    background-color: #D4C986;
    color: #182919;
    font-family: candara;
    font-size: 11px;
    letter-spacing: 0px;
    width: 138px;
    height: 23px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}

.lbtn:hover {
    border-color: #000000;
    background-color: #f0fbe3;
    color: #182919;
    font-family: candara;
    font-size: 11px;
    letter-spacing: 0px;
    width: 138px;
    height: 23px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}

.xlbtn {
    border-color: #182919;
    background-color: #D4C986;
    color: #182919;
    font-family: candara;
    font-size: 11px;
    letter-spacing: 0px;
    width: 172px;
    height: 23px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}
