#container-page {
    margin: 0 auto;
    margin-top: 32px;
    width: 782px;
    position: relative;
    height: 160% !important; /* For Modern Browsers */
    padding-left: 8px;
    border-top: 1px solid #BDC5CC;
    border-left: 1px solid #5c665d;
    border-right: 1px solid #A5AEB7;
    border-bottom: 2px dashed #BDC5CC;
    background: #ffffff url('../images/SMLNav_bg.jpg') repeat-y scroll center left;
}

#about-page {
    margin: 0 auto;
    margin-top: -10px;
    width: 782px;
    position: relative;
    height: 550% !important; /* For Modern Browsers */
    padding-left: 8px;
    border-left: 1px solid #5c665d;
    border-right: 1px solid #A5AEB7;
    border-bottom: 2px dashed #BDC5CC;
    background: #ffffff url('../images/SMLNav_bg.jpg') repeat-y scroll center left;
}

#box-page {
    margin: 0 auto;
    margin-top: 45px;
    width: 660px;
    position: relative;
    height: 310px;
    background-image: url('../images/box_bg.jpg');
    background-repeat: no-repeat;
    border: 8px solid #16250f;
}

#home-table-box {
    width: 660px;
    height: 310px;
    background-color: transparent;
    border: 1px solid #c7bb54;
    text-align: center;
}

#realnavbar {
    width: 100%;
    text-align: center;
    height: 24px;
    background-color: #BDC5CC;
    border-top: 1px solid #999999;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 8px;
}

#content {
    position: relative;
    left: 12px;
    top: 10px;
    width: 760px;
    height: 110% !important;
}

#foot {
    margin: 0 auto;
    width: 100%;
    height: 26px;
    position: absolute;
    left: 60px;
    bottom: 0px !important;
    margin-bottom: -50px;
    background-color: transparent !important;
    z-index: 999;
    text-align: center;
}

.thumbframe {
    position: relative;
    top: 2px;
    left: 4px;
    height: 100px;
    width: 750px;
}

.righttext {
    float: right;
    top: 100px;
    left: 14px;
    height: 400px;
    width: 330px;
}

.slideframe {
    float: left;
    width: 420px;
    border-right: 1px dashed #cccccc;
}

/*  html tag classes  */
html {
    height: 100% !important;
    font-family: verdana;
    /* Required */
}

body {
    font: 11px verdana, verdana;
    height: 100%;
    background-color: #dadada;
    background-image: url('../images/bgLogo.gif');
    background-repeat: no-repeat;
}

body.splash {
    font: 11px verdana, verdana;
    height: 100% !important;
    background-color: #969CA8;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
}

.navbar {
    visibility: visible;
    z-index: 9;
    position: relative;
    top: 1px;
    left: 1px;
    text-align: left;
    height: 40px;
    padding-top: 14px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #BDC5CC;
    background-image: url('../images/navbg.jpg');
    background-repeat: no-repeat;
}

em, strong {
    color: #362f0a;
}

p {

    font-family: verdana;
    font-size: 11px;
    color: #414345;
    letter-spacing: 0px;
    text-align: left;
    line-height: 14px;
}

.tiny {
    font-family: verdana;
    font-size: 9px;
    line-height: 11px;
    color: #a0a0a0;
    text-align: center;
}

ul {
    list-style-image: url(../images/bullet1.gif);
    font-family: verdana, Helvetica, verdana;
    font-size: 11px;
    font-style: normal;
    line-height: 18px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
    text-decoration: none;
    list-style-position: outside;
    text-indent: 0px;
    margin-left: 8px;
    padding-left: 8px;
    text-align: left;
}

ul.tight {
    list-style-image: url(../images/bullet1.gif);
    font-family: verdana, Helvetica, verdana;
    font-size: 11px;
    font-style: normal;
    line-height: 14px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
    text-decoration: none;
    list-style-position: outside;
    text-indent: 0px;
    margin-left: 8px;
    padding-left: 8px;
    text-align: left;
}

/*  links and navigation classes  */

a:link {
    font-family: verdana;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    color: #574d18;
    background-color: transparent;
    letter-spacing: 0px;
    text-decoration: underline;
}

a:visited {
    font-family: verdana;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    color: #574d18;
    background-color: transparent;
    letter-spacing: 0px;
    text-decoration: underline;
}

a:hover {
    font-family: verdana;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    color: #d7c469;
    background-color: transparent;
    letter-spacing: 0px;
    text-decoration: none;
}

a.box {
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: none;
}

a.box:visited {
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: none;
}

a.box:hover {
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #e7eba2;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: underline;
}

a.bigmain {
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #574d18;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: none;
}

a.bigmain:visited {
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #574d18;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: none;
}

a.bigmain:hover {
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #d7c469;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: underline;
}

a.navmain {
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: #574d18;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: none;
}

a.navmain:visited {
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: #574d18;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: none;
}

a.navmain:hover {
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: #d7c469;
    background-color: transparent;
    letter-spacing: 1px;
    text-decoration: underline;
}

a.tinylink {
    font-family: verdana;
    font-size: 9px;
    line-height: 11px;
    color: #849188;
    text-decoration: underline;
    text-align: center;
}

a.tinylink:visited {
    font-family: verdana;
    font-size: 9px;
    line-height: 11px;
    color: #849188;
    text-decoration: underline;
    text-align: center;
}

a.tinylink:hover {
    font-family: verdana;
    font-size: 9px;
    line-height: 11px;
    color: #a0a0a0;
    text-decoration: none;
    text-align: center;
}

/*  table classes  */

th {
    font-family: verdana;
    font-weight: bold;
    font-size: 11px;
    background-color: #abd5a3;
    color: #4c4725;
    height: 23px;
    text-align: left;
    border-bottom: 1px solid #336633;
}

.txt1 {
    font-family: verdana;
    font-size: 11px;
    line-height: 14px;
    color: #414345;
    letter-spacing: 0px;
    text-align: left;
}

/*  custom html classes  */

.pagehead {
    font-family: verdana;
    font-weight: bold;
    font-size: 16px;
    color: #362f0a;
    line-height: 14px;
    letter-spacing: 2px;
    width: 760px;
    text-align: left;
}

h2 {
    font-family: verdana;
    font-weight: bold;
    font-size: 15px;
    color: #16220c;
    line-height: 14px;
    letter-spacing: 2px;
    width: 760px;
    text-align: left;
}
